<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput type="email" placeholder="Email" [(ngModel)]="user.email" name="email" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Name" [(ngModel)]="user.name" name="name" required>
  </mat-form-field>

  <button mat-stroked-button (click)="registerWithEmail()">Register in</button>
</form>