
<h1>Ajout d'une tâche :</h1>
<div class="example-container">


  <mat-form-field [floatLabel]="options.value.floatLabel">
    <mat-label>Libellé {{ task.libelle }}</mat-label>
    <input [(ngModel)]="task.libelle" matInput placeholder="Ma tâche">
  </mat-form-field>

  <mat-form-field [floatLabel]="options.value.floatLabel">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Ma tâche a pour but de ..."></textarea>
  </mat-form-field>

  <mat-form-field [floatLabel]="options.value.floatLabel">
    <mat-label>Temps estimé (en minute)</mat-label>
    <input matInput placeholder="60">
  </mat-form-field>

  <mat-form-field
      [floatLabel]="options.value.floatLabel">
    <mat-select>
      <mat-option>-- None --</mat-option>
      <mat-option value="option">type 1</mat-option>
      <mat-option value="option">type 2</mat-option>
      <mat-option value="option">type 3</mat-option>
    </mat-select>
    <mat-label>Type</mat-label>
  </mat-form-field>

  <mat-form-field
      [floatLabel]="options.value.floatLabel">
    <mat-select>
      <mat-option *ngFor="let priority of priorities" value="{{priority.id_priorite}}">{{priority.valeur}}</mat-option>
    </mat-select>
    <mat-label>Priorité</mat-label>
  </mat-form-field>

  <button mat-stroked-button (click)="createTask()">Ajouter</button>

  
</div>